:root {
  --card-background: #3b4048;
  --background: #222831;
  --foreground: #fcfcfc;

  --blue: #8fb8de;
  --green: #a8c69f;
  --yellow: #f5ee9e;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  max-width: clamp(230px, 95vw, 1600px);
  margin: 1.5rem auto 0;
  cursor: initial;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.book-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

main > * {
  margin-top: 1.6rem;
}

h2 {
  margin-bottom: 0.8rem;
}

footer {
  padding: 1rem 0;
  color: var(--foreground);
  margin-top: 1rem;
}

footer :any-link {
  color: var(--foreground);
}
